{% extends "__layout.twig" %}

{% block content %}
    <h1>Редактирование Extreme Gear'а</h1>
    <hr>
    {% if message %}
    <div class="alert alert-info">
        {{ message }}
        <a href="/extreme_gears/{{id}}">открыть изменённый объект</a>
    </div>
    {% endif %}
    <form action="" enctype="multipart/form-data" method="POST" class="row g-3">
        <div class="col-4">
            <label class="form-label">Название</label>
            <input type="text" class="form-control" name="title" value="{{ object.title }}">
        </div>
        <div class="col-4">
            <label class="form-label">Краткое описание</label>
            <input type="text" class="form-control" name="description" value="{{object.description}}">
        </div>
        <div class="col-4">
            <label class="form-label">Тип</label>
            <select class="form-control" name="type">
            {% for type in types %}
            <option value="{{ type.name }}" {% if type.name == object.name %} selected {% endif %}>
                {{ type.name|title }}
            </option>  
            {% endfor %}
                <option value="все">Все</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Картинка</label>
            <input class="form-control" type="file" name="image" value="{{object.gear_image}}">
        </div>
        <div class="col-12">
            <textarea name="info" placeholder="Полное описание..." class="form-control" rows="5">{{ object.info }}</textarea>
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Редактировать</button>
        </div>
    </form>

{% endblock %}