{% extends "__layout.twig" %}
{% block content %}
{{description}}
<ul class="nav nav-pills p-2">
  <li class="nav-item">
    <a class="nav-link {{ is_image ? 'active'}}" href="/extreme_gears/{{id}}/image">
    Картинка
</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ is_info ? 'active'}}" href="/extreme_gears/{{id}}/info">
    Описание
</a>
  </li>
</ul>
<div class = "list-group">
    <li class = "list-group-item w-100 p-5">
 {% block objectContent %}
 {% endblock %}
 </li>
</div>
{% endblock %}